.theme-container {
  &:not(.has-toc) {
    .vp-toggle-sidebar-button {
      display: none;
    }
  }

  &.has-toc {
    .vp-toggle-navbar-button {
      display: none;
    }
  }
}

.vp-project-card {
  padding: 16px 12px;
}

.vp-project-desc {
  display: none;
}
